@using Sitecore.Mvc.Extensions
@model events.tac.local.Models.EventIntro

@functions
{
    string GetColor(int index)
    {
        if(index <= 2)
        {
            return "red";
        }

        if(index <= 5)
        {
            return "yellow";
        }

        return "green";
    }
}

@using (Html.EditFrame(RenderingContext.Current.ContextItem.Paths.FullPath, "Event Intro", "Edit Event Intro", null, null, null))
{
    <header>
        <h1>@Model.ContentHeading</h1>
    </header>
    <!-- [Event Details] -->
    <div class="well">
        <p class="text-muted">Start Date: @Model.StartDate</p>
        <p class="text-muted">Duration: @Model.Duration</p>
        <span class="text-muted">Difficulty:</span>
        <div class="difficulty-circle">
            @for (int i = 0; i < 10; i++)
            {
                int value = 10 - i;
                <input type="radio" @(Model.DifficultyLevel == value ? "checked=\"checked\"" : "") name="group-2" id=group-2-@i value=@value />
                <label class=@GetColor(i) for=group-2-@i></label>
            }
        </div>
    </div>
    <!-- [/Event Details] -->
    <!-- [Event Content] -->
    <div class="lead">
        <p>
            @Model.ContentBody
        </p>
    </div>
    <div class="article image">
        @Model.EventImage
    </div>
    <div class="highlights">
        <h4>Trip Highlights</h4>
        @Model.Highlights
    </div>
    <!-- [/Event Content] -->
}