@using Sitecore.Feature.Business.Models;
@model Sitecore.Feature.Business.Models.NavigationMenuItem

<!-- [Page Navigation] -->
<h4><a href="@Model.URL">@Model.Title</a></h4>
<div class="sidebar sidebar-static">
    @RenderMenu(Model)
</div>
<!-- [/Page Navigation] -->

@helper RenderMenu(NavigationMenuItem navMenu)
{
<ul class="nav nav-pills nav-stacked">
    @if (navMenu.Children != null)
    {
        foreach (var item in navMenu.Children)
        {
            <li class="@(item.Children != null ? "open" : "")">
                <a href="@item.URL">@item.Title</a>
                @RenderMenu(item)
            </li>
        }
    }

</ul>
}